.Info {
  background-image: linear-gradient(
      rgba(10, 40, 80, 0.6),
      rgba(10, 40, 80, 0.6)
    ),
    url("/images/banner.jpeg");
  height: 600px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;

  h2 {
    color: white;
  }
}

@media (min-width: 768px) {
  .Info {
    flex-direction: row;
  }
}
