.Card {
  border: 2px solid red;
  background-color: $color-background;
  width: 400px;
  height: 350;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  .card__flex {
    display: flex;
    justify-content: space-between;
  }
  .accent {
    color: $color-accent;
  }
  .bold {
    font-weight: 600;
  }
}
