.Card {
  background-color: $color-background;
  width: 400px;
  height: 350;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  color: $color-primary;

  .card__flex {
    display: flex;
    justify-content: space-between;
  }
  .accent {
    color: $color-accent;
  }
  .bold {
    font-weight: 600;
  }
  svg {
    transform: scale(2);
  }
}
